html, body{
  color: #000;
  font-size: 15px;
  font-family: "PT Sans Regular";
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  background-color: transparent;
  cursor: pointer; }

img {
  max-width: 100%;
  height: auto;
}


b, a {
  display: inline-block;

}

* {

  box-sizing: border-box;

}

.display-f {

  display: flex;

}

a, ul, p, fieldset {
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  line-height: 1.5em;
  border: 0;
}

.container {
  margin: auto;
  max-width: 1050px;

  &_width1150{
    max-width: 1150px;
    position: relative;
    margin-bottom: 1px;
    &::after{

      content: '';
      width: 100%;
      display: block;
      background-color: #000;
      opacity: 0.2;
      height: 1px;
      position: absolute;
    }
  }

  &_footer{
    justify-content: space-between;
    align-items: center;
  }
}

.header{
  background-color: #fff;
  &__nav{
    padding: 0 50px;
    justify-content: space-between;
    align-items: center;
    min-height: 24px;
  }
}


.nav-top{

  &__menu{
    max-width: 415px;
  }

}

.menu{
  align-items: center;
  &__item{
    position: relative;
    margin-right:35px;
    &:first-child::after{
      content: '';
      width: 1px;
      display: block;
      background-color: #000;
      opacity: 0.2;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  &__link{
    font-family: "Open Sans Bold";
    font-size: 17px;
    color: #000;
    line-height: 24px;
    padding: 32px 25px;
    padding-left: 0;
    &:hover{
      opacity: 0.6;
    }
  }


  &__link_pad25{
    padding-top: 25px;
  }
  &__item_right{
    margin-left: auto;
    margin-right: 0;

    .text{
      font-family: "Open Sans Regular";
      font-size: 15px;
      line-height: 24px;
      color: #444444;
      text-transform: uppercase;
    }
  }

  &__item_no-after:first-child::after{
    display: none;
  }
}

.logo{
  
  &__svg{
    width: 150px;
    height: 75px;
  }
}


.menu-right{

  &_width350{
    width: 350px;
  }

  &__item{

    position: relative;
    height: 88px;
    padding: 33px;
    &_search{
      max-width: 82px;
      min-width: 82px;
    }

    &_cart{
      padding-left: 82px;
      padding-right: 0;
      width: 100%;
      text-align: right;
    }


    &::before
    {
      content: '';
      position: absolute;
      width: 1px;
      height: 100%;
      background-color: #000;
      top: 0;
      left: 0;
      opacity: 0.2;
    }

  }

  &__wrap{
    position: relative;
    width: 300px;
    margin: auto;
    top: 56px;
    z-index: 100;
    left: -32px;
  }

  &__icon
  {

    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    margin-top: -10px;


    &_search{
      left: 50%;
      margin-left: -10px;

      svg{
        opacity: 1;
        &:hover{
          opacity: .5;
        }

      }
    }

    &_cart
    {
      left: 50px;

      svg{
        opacity: .3;
        &:hover{
          opacity: 1;
          fill: #63d1bb;
          cursor: pointer;
        }
      }

    }

  }

  &__cart-text{
    font-family: "Open Sans Bold";
    font-size: 17px;
    line-height: 24px;
  }
}

.form-search{
  display: none;
  opacity: 0;
  &__text{
    width: 100%;
    height: 42px;
    padding-left: 10px;
    border: 2px solid #7BA7AB;
    border-radius: 5px;
    outline: none;
    background: #F9F0DA;
    color: #9E9C9C;
  }

  &__btn{
    position: absolute;
    top: 0;
    right: 0;
    width: 42px;
    height: 42px;
    border: none;
    background: #7BA7AB;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    padding: 10px;
  }

  &_visible{
    display: block;
    opacity: 1;
    transition: opacity 1s;
  }
}



.block{
  background-color: #f9f9f9;
  &_zigzag{
    margin-bottom: 70px;
    position: relative;
    &::after{
      content: '';
      display: block;
      background-image: url(../../img/svg/zigzag-fill.svg);
      height: 30px;
      width: 100%;
      position: absolute;
      bottom: 0;
      background-repeat: no-repeat;
      background-size: cover;
      margin-bottom: -1px;
    }
  }
  &__title{
    background-image: url(../../img/hero-desktop.png);
    height: 530px;
    background-size: 100%;
    background-position: 100%;
  }

  &__types{
    justify-content: space-between;
  }
}

.title-content{
  &__text{
    font-family: "Open Sans Bold";
    font-size: 53px;
    text-align: center;
  }
}


.types{

  li{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__item{
    width: 50%;
    padding: 30px 35px;
    padding-bottom: 35px;
    position: relative;

    &_left{
      background-color: #63d1bb;
    }

    &_right{
      background-color: #56c3b2;
    }
  }

  &__text{
    color: #fff;
    line-height: 30px;
    font-size: 20px;
    text-transform: uppercase;
  }

  &__icon{
    height: 62px;
    background-position:center center ;
    background-repeat: no-repeat;

    &_interior{
      background-image: url(../../img/svg/interior-icon.svg);
      width: 42px;
    }

    &_toy{
      background-image: url(../../img/svg/toys-icon.svg);
      width: 62px;
    }

  }
}


.footer{

}

.social{

  &_width{
    width: 140px;
    justify-content: space-between;
    align-items: center;
  }

  &__link{
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-position: center;
    &:hover path{
      fill: #46c1ae !important;
    }
    &_fb{
      width: 20px;
      height: 40px;
    }
  }



}

.development{
  &_mod{
    align-items: flex-end;
    justify-content: space-around;
    width: 150px;
  }
  &__text{
    font-family: "Open Sans SemiBold";

    text-transform: uppercase;

  }
  &__wool{
    background-image: url(../../img/svg/wool.svg);
    width: 40px;
    height: 40px;
    display: inline-block;
    background-position: center;
    background-size: contain;
  }
}